{% extends 'base.html' %}
{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>

      <!-- This is where your WTForm will go -->
      <form action="{{url_for('add_cafe')}}" method="post">
        {{form.cafe.label}} <br> {{form.cafe(size =100)}} <br><br>
        {{form.cafe_location.label}} <br> {{form.cafe_location(size =100)}} <br><br>
        {{form.open.label}} <br> {{form.open(size =100)}} <br><br>
        {{form.close.label}} <br> {{form.close(size =100)}} <br><br>
        {{form.coffee.label}} <br>{{form.coffee}} <br><br>
        {{form.wifi.label}} <br> {{form.wifi}} <br><br>
        {{form.power.label}} <br> {{form.power}} <br><br>
        <div style="color: black;">{{form.submit}}</div> 
      </form>

	  <p class="space-above"><a href="{{url_for('cafes')}}">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
